
*{
    margin:0;
    padding:0;
    
}

body{
  height:100vh;
  width:100vw;
  color:#5F6468;
  
    font-family: "Lato", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Petemoss", cursive;
  font-family: "Roboto Slab", serif;
  font-family: "Titillium Web", sans-serif;

}
.main{
    display: flex;
}
hr{
    margin: 0;
}
span{
    cursor:pointer;
    
}

span:hover{
   padding: 5px;
   background: #d7d7da;
   border-radius:50%;
}


.sideNav li:hover{
    transition: 0.2s ease-out;
    padding: 5px;
    border-radius: 20px;
    background: #d7d7da;
}
button:hover{
  transform: scale(0.9);
}

nav{
    display:flex;
    align-items: center;
    height: 4em;
}
.heading{
    display:flex;
    margin: 0 10em 0 1.2em;
    align-items: center;
   
}

#logo{
    height:2.5em;
}

#user-img{
    height:2.5em;
    border-radius:100%;
    margin-left:1em ;
}

#search:focus{
    outline: none;

}

.search input{
    width:35em;
    border:none;
    height: 3em;
    background-color:#F1F3F4 ;

}
.search{
    display: flex;
    align-items:center;
    border-radius:10px; 
    background-color:#F1F3F4 ;
    padding:0 1em;

}

.options{
    display: flex;
    align-items: center;
    gap:0.5em;
    margin-left:auto;
  
}

.buttons{
    display: flex;
    gap: 1em;
}
.login{
    display:flex;
    align-items: center;
    margin:1em;
}

aside{
    width:15vw;
    margin-right: 4rem;
    
}

#addNew{
    padding:13px 20px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border:none;
    background: transparent;
    box-shadow: 2px 2px 5px #d7D9DA;
    margin: 1em;
   
}

.sideNav{
    list-style: none;
     
}
.sideNav li{
    margin-top: 1em !important;

}  

.sideNav li span{
   margin-right:1em;
   

}  

.storage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#buyStorage{
    padding:3px 15px;
     border: 1px solid #d7D9DA ;
     color:#da0505;
     background: transparent;
}
section{
    display: flex;
    width:78vw;
    
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5em;
    width:78vw;
    border-bottom: 1px solid #d7D9DA ;

}

.top-bar select{
    border:none;
}

.top-bar select option{

}

.side-bar{
    width: 5vw;
    padding-top:1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2em;
    border-left: 1px solid #d7D9DA ;
    height:100vh;

}

.file_details{
    width: 78vw;
    height:fit-content;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid #d7D9DA ;
    border-bottom: 1px solid #d7D9DA ;
    padding-right: 1em ; 
    margin-bottom: 2em;
    display:none;
  
}
   

.box-format{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.box-format .folder{
    height: 30vh;
    width: 15vw;
    /* background-color: red; */
    border: 1px solid #d7D9DA ;
   
    margin:0.3em;
    padding: 0.3em;
   
}

.list-format{
    height: fit-content;
}
.list-format .folder{
    display: flex;
    align-items:center;
    height: 3em;
    border-top: 1px solid #d7D9DA;
    border-bottom: 1px solid #d7D9DA;
    /* display:none; */
   
}

#boxBtn{
    display:none;
}


