:root{
    --secondary-color: rgb(76, 192, 192);
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.container {
  height: 20rem;
  width: 20rem;
  padding:1em 0;
  background-color: aqua;
  text-align: center;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.line-div{
      display:flex;
      background-color: var(--secondary-color);
      justify-content: center;
      align-items: center;
      gap:7em;
      margin-bottom: 3em;
     
}

#rstBtn{
    border:none;
    background-color: var(--secondary-color);
    cursor:pointer;
    font-weight:bold;
    color:#ff0000;
}
#rstBtn:hover{
    color : #146114;
}

.grid{
    display:grid;
    grid-template-rows: repeat(3,10fr);
    grid-template-columns: repeat(3,10fr);
    gap:0.3em;
    background-color: var(--secondary-color);

}
.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    text-align: center;
    height: 90px;
    cursor:pointer;
    font-size: 3.5rem;
}
.cells:hover{
    background-color: #90f8fd; 
}

.x::after{
    content: "X";
}
.o::after{
    content: "O";
}